*.hex
verif/vcd
*/__pycache__/*
*.pyc
syn/single/*
*DVEfiles*
*.log
syn/rpts
*.sdf
*.rpt
*.syn.v
*.syn.sdc
*.svf
*alib-52*
*.rc
novas.*
.bender/
build/*
deps/*
lint/*
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
